.comment-form #icon {
    background: url(user.svg);
    width: 40px;
    height: 40px;
    margin-top: 14px;
}

.comment-form {
    display: flex;
}

.comment-field {
    display: flex;
    flex-direction: column;
}

.comment-form form {
    margin-top: 8px;
    margin-left: 11px;
}

.comment-field input {
    border: none;
    background: none;
    font-size: 14px;
    border-bottom: solid 1px grey;
    width: 100vh;
    padding: 7px;
}

.comment-field button {
    background-color: #1a73e8;
    color: #ffffff;
    border: 1px solid #1a73e8;
    border-radius: 5%;
    font-size: 14px;
    width: 90px;
    height: 35px;
    align-self: flex-end;
    margin-top: 16px;
}