.comment-form #icon {
    background: url(user.svg);
    width: 40px;
    height: 40px;
    margin-top: 14px;
}

.comment-form {
    display: flex;
}

.comment-field {
    display: flex;
    flex-direction: column;
}