.comments {
    color: white;
    margin-top: 24px;
}

.comment-item {
    display: flex;
    margin-top: 25px;
}

.comment-header {
    display: flex;
}

.comment-time {
    margin-top: 3px;
    margin-left: 8px;
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.comment-info {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-left: 13px;
    margin-top: 13px;
}

.comment-body {
    font-size: 14px;
    font-weight: normal;
    margin-top: 9px;
}

.comment-item #icon { 
    background: url(user.svg);
    width: 40px;
    height: 40px;
    margin-top: 14px;
}