.signin-form-container, .login-form-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
}

.signin-form, .login-form {
    grid-row-start: 20;
    grid-column-start: 33;
    width: 450px;
    height: 584px;
    border: solid 1px #979797;
    border-radius: 1%;
    background-color: #282828;
    text-align: center;
}

.signin-form .content, .login-form .content {
    width: 450px;
    height: 584px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.signin-form .content a, .login-form .content a {
    text-decoration: none;
    color: #1a73e8;
}

.signin-form .content button, .login-form .content button  {
    background-color:#1a73e8;
    color: #ffffff;
    border: 1px solid #1a73e8;
    border-radius: 5%;
    font-size: 16px;
    width: 90px;
    height: 35px;
}

.signin-form .content input, .login-form .content input {
    padding: 15px 18px;
    box-sizing: border-box;
    width: 368px;
    height: 56px;
    border-radius: 1px;
    border: solid 1px #979797;
    background-color: #121212;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 1;
}

.signin-form .content .label, .login-form .content .label {
    font-size: 24px;
    margin: 5px;
    padding-top: 85px;
}

.signin-form .content .sub-label, .login-form .content .sub-label {
    font-size: 16px;
}

.clickable-items-container {
    display: flex;
    justify-content: space-between;
    margin: 41px;
}

.clickable-items-container button:hover {
    cursor: pointer;
}

.input-container {
    position: relative;
}

.name-field {
    
}

.email-field {

}

.password-field {

}

.full-name, .email, .password {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 38px;
    left: 61px;
    transition: .3s ease-in-out;
}

.full-name.effect, .email.effect, .password.effect {
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 6px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}



/* .email {
    background: transparent;
    background-color: #121212;
    color: #757575;
    font-size: 18px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 52px;
    left: 61px;
}

.password {
    background: transparent;
    background-color: #121212;
    color: #757575;
    font-size: 18px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 52px;
    left: 61px;
} */