
.login-form {
    width: 450px;
    height: 584px;
    border: solid 0.5px #979797;
    border-radius: 1%;
    background-color: #282828;
    text-align: center;
}

.login-form .content{
    width: 450px;
    height: 584px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0, 1.07, 1, 1);
}

.login-form .content.slide {    
    transform: translateX(-100px);
    opacity: 0%;
    // transition: all 2s ease;
}

.login-link > div {
    text-decoration: none;
    color: #1a73e8;
}

.login-link:hover {
    cursor: pointer;
}

.login-form .content button, .login-form .content-2 button  {
    background-color:#1a73e8;
    color: #ffffff;
    border: 1px solid #1a73e8;
    border-radius: 5%;
    font-size: 16px;
    width: 90px;
    height: 35px;
    transition: .2s cubic-bezier(0, -0.02, 0.96, 1);
}

.clickable-items-container button:hover, .clickable-items-container-2 button:hover {
    cursor: pointer;
    background-color: #064fad;
    border: 1px solid #064fad;
}

.login-form .content input, .login-form .content-2 input {
    margin: 8px;
    padding: 15px 18px;
    box-sizing: border-box;
    width: 368px;
    height: 56px;
    border-radius: 1px;
    border: solid 1px #979797;
    background-color: #121212;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 1;
}

.login-form .content input:focus, .login-form .content-2 input:focus {
    border: solid 2px #979797;
    border-radius: 3px;
}

.login-form .content .label, .login-form .content-2 .label {
    font-size: 24px;
    margin: 5px;
    padding-top: 85px;
}

.login-form .content .sub-label, .login-form .content-2 .sub-label {
    font-size: 16px;
}

.login-form .content .sub-label {
    padding-bottom: 11px;
}

.clickable-items-container {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-left: 41px;
    margin-right: 41px;
    position: relative;
}

.clickable-items-container-2 {
    display: flex;
    float: right;
    margin-top: 19px;
    margin-left: 41px;
    margin-right: 41px;
}

.input-container {
    position: relative;
}

.login-email {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 26px;
    left: 61px;
    transition: .3s ease-in-out;
}

.login-password {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 26px;
    left: 61px;
    transition: .3s ease-in-out;
}

.login-email.effect {
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 2px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

.login-password.effect {
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 2px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

.sub-label-parent {
    display: flex;
    justify-content: center;
}

.login-sub-label {
    color: rgb(143, 143, 143);
    border: 0.5px solid rgb(143, 143, 143);
    border-radius: 16px;
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
}

.login-sub-label:hover {
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.041);
}

.login-sub-label-text {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 14px;
    min-height: 18px;
    padding: 4px;
    min-width: 30px;
    height: max-content;
    width: max-content;
}

.login-avatar {
    background-image: url(noun-avatar.svg);
    height: 16px;
    width: 16px;
    margin: 5px;
}

.login-errors {
    position: absolute;
    left: 165px;
    top: 73px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
