.main {
    display: flex;
    margin-top: 55px;
}

.main .sidebar-placehodler {
    // z-index: 1;
    position: fixed;
    min-height: 100vh;
    width: 80px;
    background-color: #282828;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .main-feed {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 6em;
    margin-top: 30px;
}

.main video {
    object-fit: fill;
    border-radius: 1%;
}

.main video p {
    font-size: 14px;
    font-weight: 700;
}

.main .title {
    font-weight: bold;
    font-size: 14px;
}

.main .video-feed-item {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.main .views, .main .user{
    font-size: 14px;
    color: #959595;
    margin-top: 5px;
}

.main .icon {
    background: url(user.svg);
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.main .m-container {
    display: flex;
}

.main .m-feed-info {
    margin-top: 8px;
    margin-left: 13px;
}
