 html {
    background-color: #1f1f1f; 
 }

 .test {
     height: 1000px;
 }

 * input:focus, * button:focus, textarea:focus {
    outline: none;
 }

 .content-modal {
    opacity: 0%;
    pointer-events: none;
    z-index: 1000;
    background-color: rgba(73, 73, 73, 0.11);
    width: 452px;
    height: 586px;
    grid-row-start: 20;
    grid-column-start: 33;
    border-radius: 5px;
 }

* {
   font-family: Arial, Helvetica, sans-serif;
}

* {
   text-decoration: none;
   color: #ffffff;
}

body {
   padding: 0;
   margin: 0;
   border: 0;
}

.fourOfour {
   display: flex;
   justify-content: center;
}

.lost {
   background: url(primitivebob.png);
    opacity: 35%;
    display: flex;
    position: relative;
    width: 1052px;
    height: 611px;
    top: 18vh;
}

.lost-in-time {
   position: absolute;
   top: -66px;
   left: -56px;
   font-size: xx-large;
}

.no-internet {
   position: absolute;
   top: -25px;
   left: -30px;
   font-size: xx-large;
}

.present {
   position: absolute;
   top: 100px;
   left: 0px;
   font-size: x-large;
   background: #3ea6ff;
   width: 158px;
   height: 85px;
   color: #FFFFFF;
   border-radius: 2%;
   text-align: center;
   align-items: center;
   display: flex;
}

.present:hover {
   cursor: pointer;
}
