 html {
    background-color: #1f1f1f; 
 }

 .test {
     height: 1000px;
 }

 * input:focus, * button:focus {
    outline: none;
 }

 .content-modal {
    opacity: 0%;
    pointer-events: none;
    z-index: 1000;
    background-color: rgba(94, 94, 94, 0.425);
    width: 452px;
    height: 586px;
    grid-row-start: 20;
    grid-column-start: 33;
    border-radius: 5px;
 }