 html {
    background-color: #1f1f1f; 
 }

 .test {
     height: 1000px;
 }

 * input:focus, * button:focus {
    outline: none;
 }

 .content-modal {
    opacity: 0%;
    pointer-events: none;
    z-index: 1000;
    background-color: rgba(73, 73, 73, 0.11);
    width: 452px;
    height: 586px;
    grid-row-start: 20;
    grid-column-start: 33;
    border-radius: 5px;
 }

* {
   font-family: Arial, Helvetica, sans-serif;
}

* {
   text-decoration: none;
   color: #ffffff;
}

body {
   padding: 0;
   margin: 0;
   border: 0;
}



