.nav-bar {
    display: grid;
    grid-template-columns: 28px 40px 85% 120px;
    grid-template-rows: repeat(10, 10%);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 55px;
    background-color: #282828;
}

.hamburger:hover {
    cursor: pointer;
    transform: scale(1);
	opacity: 1;
}

.hamburger {
    z-index: 3;
    grid-row: 4;
    grid-column: 2;
    width: 16px;
    height: 13px;
    background-image: url(icon-hamburger-menu.svg);
}

.hamburger-circle {
    z-index: 2;
    grid-row: 4;
    grid-column: 2;
    background-color: #3e3e3e;
    width: 16px;
    height: 16px;
    opacity: 0%;
    visibility: hidden;
    border-radius: 100%;
    transition: ease-in;
}
/* cubic-bezier(0.39, 0.1, 0.85, 1.01) */

.hamburger-circle.effect {
    animation: clicked 1.25s cubic-bezier(0.29, 0, 0.13, 1.33) forwards;
    transform: scale(2.5);
}

.signin-button:hover {
    cursor: pointer;
}

.signin-button.effect {
    filter: brightness(1.25);
}

.signin-button {
    background-image: url(button-sign-in.svg);
    height: 40px;
    width: 106px;
    grid-row: 2;
    grid-column: 4;
    filter: brightness(1);
    transition: all .3s ease-in-out;
}


/* .signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 4;
    width: 105px;
    height: 40px;
    border: 1px solid #3ea6ff;
    border-radius: 2%;
} */

/* .button-text {
    color:#3ea6ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 75%;
    display: flex; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

