.nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 55px;
    background-color: #282828;
}

.left-side {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
}

.hamburger:hover {
    cursor: pointer;
    transform: scale(1);
	opacity: 1;
}

.hamburger {
    background-image: url(icon-hamburger-menu.svg);
    z-index: 3;
    grid-column: 9;
    grid-row: 2;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 3px;
    margin-bottom: 0;
}

.hamburger-circle {
    z-index: 3;
    grid-column: 9;
    grid-row: 6;
    background-color: #3e3e3e;
    width: 20px;
    height: 20px;
    opacity: 0%;
    visibility: hidden;
    border-radius: 100%;
    transition: ease-in;
    margin-left: 3px;
    margin-top: 2px;
}
/* cubic-bezier(0.39, 0.1, 0.85, 1.01) */

.hamburger-circle.effect {
    animation: clicked 1.25s cubic-bezier(0.29, 0, 0.13, 1.33) forwards;
    transform: scale(2.5);
}

.signin-button:hover {
    cursor: pointer;
}

.signin-button.effect {
    filter: brightness(1.25);
}

.signin-button {
    background-image: url(button-sign-in.svg);
    height: 40px;
    width: 106px;
    margin-right: 18px;
    filter: brightness(1);
    transition: all .3s ease-in-out;
}

.right-side {
    display: flex;
}

.signout-button {
    height: 35px;
    width: max-content;
    margin-right: 24px;
    border-radius: 10%;
    background-color: #393939;
    display: flex;
    text-align: center;
    border: 2px solid #303029;
}

.signout-button:hover {
    cursor: pointer;
    background-color:#414141;
}

.signout-button p {
    margin: 4px;
    margin-top: 9px;
    padding-right: 4px;
    padding-left: 4px;
    font-family: arial;
    color: #ffffff;
}

.upload-button:hover {
    cursor: pointer;
}

.upload-button {
    background-image: url(video_call_24px.svg);
    height: 36px;
    width: 36px;
    margin-right: 24px;
    border-radius: 50%;
    display: flex;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    grid-column-start: 21;
    grid-row: 4;
    background-image: url(you-tube-2017-icon-seeklogo.com-4.svg);
    z-index: 3;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}

// .upload-button p {
//     margin: 12px;
//     margin-top: 14px;
//     font-family: arial;
//     color: #ffffff;
// }

/* .signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2;
    grid-column: 4;
    width: 105px;
    height: 40px;
    border: 1px solid #3ea6ff;
    border-radius: 2%;
} */

/* .button-text {
    color:#3ea6ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 75%;
    display: flex; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

