.github {
    background: url(iconmonstr-github-3.svg);
    width: 36px;
    height: 36px;
    margin: 15px;
}

.linkedin {
    background: url(iconmonstr-linkedin-3.svg);
    width: 36px;
    height: 36px;
    margin: 15px;
}