.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 80px;
}

.linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 80px;
}

.github:hover {
    background-color: #3e3e3e;
}

.linkedin:hover {
    background-color: #3e3e3e;
}

.github p {
    font-size: 11px;
    margin-top: 8px;
}

.linkedin p {
    font-size: 11px;
    margin-top: 8px;
}