.github {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 80px;
}

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 80px;
}

.github:hover {
    background-color: #3e3e3e;
}

.linkedin:hover {
    background-color: #3e3e3e;
}