.signin-form-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
}

.signin-form {
    grid-row-start: 20;
    grid-column-start: 33;
    width: 450px;
    height: 584px;
    border: solid 0.5px #979797;
    border-radius: 1%;
    background-color: #282828;
    text-align: center;
}

.signin-form .content {
    width: 450px;
    height: 584px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.signin-link {
    text-decoration: none;
    color: #1a73e8;
}

.signin-link:hover {
    cursor: pointer;
}

.signin-form .content button {
    background-color:#1a73e8;
    color: #ffffff;
    border: 1px solid #1a73e8;
    border-radius: 5%;
    font-size: 16px;
    width: 90px;
    height: 35px;
    transition: .2s cubic-bezier(0, -0.02, 0.96, 1);
}

.clickable-items-container button:hover {
    cursor: pointer;
    background-color: #064fad;
    border: 1px solid #064fad;
}

.signin-form .content input {
    margin: 8px;
    padding: 15px 18px;
    box-sizing: border-box;
    width: 368px;
    height: 56px;
    border-radius: 1px;
    border: solid 1px #979797;
    background-color: #121212;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 1;
}

.signin-form .content input:focus {
    border: solid 2px #979797;
    border-radius: 3px;
}

.signin-form .content .label {
    font-size: 24px;
    margin: 5px;
    padding-top: 85px;
}

.signin-form .content .sub-label {
    font-size: 16px;
}

.clickable-items-container {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-left: 41px;
    margin-right: 41px;
}


.input-container {
    position: relative;
}

.full-name {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 26px;
    left: 61px;
    transition: .3s ease-in-out;
}

.email {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 114px;
    left: 61px;
    transition: .3s ease-in-out;
}

.password {
    background: transparent;
    pointer-events: none;
    color: #757575;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 201px;
    left: 61px;
    transition: .3s ease-in-out;
}

.full-name.effect{
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 1px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

.email.effect {
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 89px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

.password.effect {
    background: linear-gradient(to bottom, transparent 45%, #121212 0%);
    pointer-events: none;
    color: #979797;
    font-size: 13px;
    position: absolute;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 177px;
    left: 61px;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}

#signup-load {
    height: 5px;
    width: 450px;
    grid-row-start: 20;
    grid-column-start: 33;
    border-radius: 10px;
    opacity: 0%;
    background: transparent;
}

/* .email {
    background: transparent;
    background-color: #121212;
    color: #757575;
    font-size: 18px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 52px;
    left: 61px;
}

.password {
    background: transparent;
    background-color: #121212;
    color: #757575;
    font-size: 18px;
    position: relative;
    z-index: 3;
    width: max-content;
    height: max-content;
    top: 52px;
    left: 61px;
} */