.show {
    position: relative;
    min-height: 800px;
    min-width: 1200px;
}
.video-show {
    height: 100%;
    width: 100%;
    margin-top: 85px;
    margin-left: 4vh;
    display: flex;
}

.video-show video {
    object-fit: fill;
    width: 125vh;
    max-height: 75vh;
}

.video-information {
    margin-top: 26px;
}

.video-header {
    font-size: 24px;
    font-weight: 700;
}

.video-description {
    margin: 3vh;
    margin-left: 7vh;
}

.horizontal-feed {
    display: flex;
    float: right;
    min-height: 100vh;
    width: 25%;
    margin-left: 3vh;
    background-color: #b8838c;
    color: #ffffff;
}

video {
    cursor: pointer;
}

.v-show-user {
    margin-top: 7vh;
    margin-left: 7vh;
    font-size: 16px;
    font-weight: 600;
}

.v-border {
    border-top: 1px solid #3a3a3a;
    margin-top: 44px;
}

