.show {
    position: relative;
    min-height: 100%;
    max-width: 100%;
}
.video-show {
    height: 100%;
    width: 100%;
    margin-top: 85px;
    left: 6vh;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.video-show-container {
    display: flex;
    width: 100%;
}

.video-show video {
    object-fit: fill;
    width: 123vh;
    max-height: 75vh;
}

.video-information {
    margin-top: 26px;
}

.video-header {
    font-size: 24px;
    font-weight: 700;
}

.video-header .subheader {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    font-size: 14px;
    font-weight: initial;
    margin-top: 14px;
}

.subheader .views {
    color: grey;
}

.subheader .date {
    color: grey;
    margin-left: 4px;
}

.video-description {
    margin-top: 31px;
    font-size: 14px;
    font-weight: normal;
}

#v-feed {
    display: flex;
    flex-direction: column;
    float: right;
    min-height: 100vh;
    width: 24%;
    margin-left: 1vh;
    color: #ffffff;
}

video {
    cursor: pointer;
}

.v-show-user {
display: block;
    font-size: 16px;
    font-weight: 600;
    margin-left: 13px;
    margin-top: 27px;
}

#v-info-con {
    display: flex;
}

#v-info-con #icon { 
    background: url(user.svg);
    width: 40px;
    height: 40px;
    margin-top: 14px;
}

.v-show-user #user {

}

.v-border {
    border-top: 1px solid #3a3a3a;
    margin-top: 17px;
}

.video-show #v-feed .video-feed-item video {
    width: 27vh;
    height: 15vh;
    margin-top: 15px;
}

#v-feed .video-feed-item a {
    display: flex;
    width: max-content;
}

#v-feed .video-feed-item a .title {
    margin-top: 29px;
    margin-left: 14px;
    max-width: 125px;
}

#v-feed .video-feed-item a .user {
    margin-top: 2px;
    margin-left: 14px;
    width: max-content;
    font-size: 14px;
    color: grey;
    margin-top: 6px;
}


