.show {
    position: relative;
    min-height: 800px;
    max-width: 1280px;
}
.video-show {
    height: 100%;
    width: 100%;
    margin-top: 85px;
    margin-left: 4vh;
    display: flex;
    max-width: 100%;
}

.video-show video {
    object-fit: fill;
    width: 123vh;
    max-height: 75vh;
}

.video-information {
    margin-top: 26px;
}

.video-header {
    font-size: 24px;
    font-weight: 700;
}

.video-description {
    margin: 3vh;
    margin-left: 7vh;
}

#v-feed {
    display: flex;
    flex-direction: column;
    float: right;
    min-height: 100vh;
    width: 24%;
    margin-left: 3vh;
    color: #ffffff;
}

video {
    cursor: pointer;
}

.v-show-user {
    margin-top: 7vh;
    margin-left: 7vh;
    font-size: 16px;
    font-weight: 600;
}

.v-border {
    border-top: 1px solid #3a3a3a;
    margin-top: 44px;
}

.video-show #v-feed .video-feed-item video {
    width: 27vh;
    height: 15vh;
    margin-top: 5px;
}

#v-feed .video-feed-item a {
    display: flex;
    width: max-content;
}

#v-feed .video-feed-item a .title {
    margin-top: 10px;
    margin-left: 14px;
    max-width: 125px;
}

#v-feed .video-feed-item a .user {
    margin-top: 2px;
    margin-left: 14px;
    width: max-content;
    font-size: 14px;
    color: grey;
    margin-top: 6px;
}
