input[type="file"] {
    display: none;
}

.video-form-file {
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
    background-image: url(upload.svg);
}

.video-form-file p {
    align-self: center;
    margin-top: 114px;
    margin-left: 13px;
    font-size: 22px;
    font-weight: 700;
    padding-top: 24px;
}

.video-form-text textarea {
    resize: vertical;
}

.video-form-file:hover {
    opacity: 60%;
}

.video-form-text {
    position: relative;
}

.video-form-text form {
    position: relative;
}

.video-form-text button:hover {
    cursor: pointer;
    background-color: #064fad;
    border: 1px solid #064fad;
}

.video-form-text button {
    background-color: #1a73e8;
    color: #ffffff;
    border: 1px solid #1a73e8;
    border-radius: 5%;
    font-size: 16px;
    width: 90px;
    height: 35px;
    transition: 0.2s cubic-bezier(0, -0.02, 0.96, 1);
    position: absolute;
    left: 533px;
    top: 175px;
}

.video-form-text input:focus, .video-form-text textarea:focus {
    border: solid 2px #979797;
    border-radius: 3px;
}

.video-form-text input {
    width: 569px;
    height: 110px;
    border-radius: 3px;
    position: absolute;
    border: solid 1px #979797;
    background-color: #121212;
    top: -250px;
    left: -289px;
    font-size: 16px;
    font-weight: 700;
    padding: 25px;
    box-sizing: border-box;
    padding-top: 46px;
}

.video-form-text textarea {
    width: 571px;
    height: 164px;
    border-radius: 3px;
    border: solid 1px #979797;
    background-color: #121212;
    position: absolute;
    top: -82px;
    left: -291px;
    font-size: 12px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 23px;
    padding-top: 43px;

}

.video-form-text p {
    height: 27px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    left: -283px;
    bottom: 364px;
    width: max-content;
}

.video-form-text label {
    position: absolute;
}

.video-form-text .cancel {
    width: 53px;
    height: 17px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    background: transparent;
    left: -291px;
    top: 194px;
}

.video-form-text .cancel:hover {
    cursor: pointer;
}

.video-form-text #preview {
    position: relative;
    left: 297px;
    width: 328px;
    height: 185px;
    border-radius: 1%;
    top: -63px;
    background-color: black;
}

.video-form-text #description {
    pointer-events: none;
    position: absolute;
    top: -63px;
    left: -267px;
}

.video-form-text #title {
    pointer-events: none;
    position: absolute;
    left: -267px;
    top: -231px;
}

// .video-form-text input:focus ~ #title {
//     visibility: hidden;
// }

// .video-form-text textarea:focus ~ #description {
//     visibility: hidden;
// }

// .video-form-text .title.effect {
//     visibility: hidden;
// }

// .video-form-text .descript.effect {
//     visibility: hidden;
// }